.presentation {
    margin:0 auto;
    width:960px;
}

.analyse {
    margin:0 auto;
    width:960px;
}

.analyse_plus {
    margin:0 auto;
    width:960px;
}

.ca021 {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.hf {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.caage {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.caannees {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.camois {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.cacateg {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.refplus {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.refmoins {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.refplusca {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.refplusnombre {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.casex {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.catrancheage {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.casextranche {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.catrancheagecateg {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.casexcateg {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.courbelorenz {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
