.presentation {
    margin:0 auto;
    width:960px;
}

.analyse {
    margin:0 auto;
    width:960px;
}

.resultat {
    margin:0 auto;
    width:960px;
}

.graph1 {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.graph2 {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.graph3 {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.graph4 {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.i1 {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.i2 {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.i3 {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.i4 {
	border: 1px solid #555;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}